/* 
** HTML css shiv/fix 
*/
article, header, section{display: block;}

html{font-size:100%;text-size-adjust:100%;background-color:#f0f0f0;font-family:Tahoma;font-style:italic;color:#878787;}

body{margin:0;padding:0;height:700px;}

header{height:40px;background-color:#fbfbfb;border-bottom:2px solid #878787;}
    header h1{width:960px;margin:0 auto;font-weight:normal;padding-top:1px;}

section{width:1360px;margin:0 auto;position:relative;}
    section div{float:left;width:440px;}

article{
    height:200px;
    z-index:0;
    position:relative;
    overflow:hidden;
    /*opacity:0;*/
    margin:10px;
    padding:10px;
    float:left;
    border-radius:10px;
    background-color:#fbfbfb;
    border:1px solid #878787;
    transition:height 1s;
}
article.live{opacity:1;width:400px;height:150px;transition:all 2s;}
article.live:hover{height:270px;transition:all 1s;}
article.full{z-index:1;left:0;width:915px;opacity:1;height:350px;transition:all 4s;} 
article.gone{opacity:0;transition:all 1s;}
			
article img{box-shadow:0 1px 2px #000;cursor:pointer;}
 